# Problem Alphabet Slices
* Store the first ten letters of the alphabet in a list.
* Use a slice to print out the first three letters of the alphabet.
* Use a slice to print out any three letters from the middle of your list.

In [54]:
my_list=['a','b','c','d','e','f','g','h','i','j']
print(my_list[0:3])
print(my_list[4:7])

['a', 'b', 'c']
['f', 'g', 'h']

# Problem:  Covert all the rapper names to title case and save them into a new different list. 
example: lil wayne becomes Lil Wayne

In [19]:
# Solve rapper names here
rappers = ['lil wayne', 'nicki minaj', 'drake']
new_rappers=[]
for name in rappers:
    rapper=name.title()
    new_rappers.append(rapper)
print(new_rappers)

['Lil Wayne', 'Nicki Minaj', 'Drake']

# Problem: Write a function thats input is a number and output is:
* Return True if the input number is even.
* Return False if the input number is odd.

In [25]:
def odd_or_even (number):
    if number%2==0:
        return True
    else:
        return False
function(4)

True

# Problem: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [38]:
# Solve problem here:
#1 w/o loop
my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
list_sum = sum(my_list)
list_avg = list_sum/len(my_list)
print(list_sum, list_avg)

#2 w/ loop
list_sum=0
list_avg=0
my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
for number in my_list:
    list_sum+=number
list_avg = list_sum/len(my_list)

# Keep this as your last line in this cell.
print(list_sum, list_avg)

353 35.3
353 35.3

# Problem: Write a function that input is a number and output returns the following
* If the input is divisible by three, return 'fizz'
* If the input is divisible by five, return 'buzz'
* If the input is divisible by three and by five, return 'fizzbuzz'
* If the input is not divisible by three or five, return None.

In [42]:
# Solve Problem fizzbuzz here:
def fizzbuzz (number):
    if number%3==0 and number%5==0:
        return "fizzbuzz"
    elif number%3==0:
        return 'fizz'
    elif number%5==0:
        return 'buzz'
    else:
        return None
fizzbuzz(2)

# Problem: 
Write a function that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Example input and expected output

input = ["Michele", "Robin", "Sara", "Michele"]

expected output = ['Michele', 'Robin', 'Sara']

In [56]:
# Solve problem here:

names = ["Michele", "Robin", "Sara", "Michele"]
def unique (n):
    n=set(n)
    return list(n)

unique(names)

['Robin', 'Michele', 'Sara']

# Problem: 
Write a function that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and returns a new list of only the first and last elements of the given list.

Example input and expected output:

input = [5, 10, 15, 20, 25]

expected output = [5, 25]

In [50]:
# Solve problem here:
input_list = [5, 10, 99, 20, 25]
def function (x):
    new_list=[]
    new_list.append(x[0]) 
    new_list.append(x[-1])
    return new_list 
    
function(input_list)

[5, 25]

# Problem:  Implement a function that takes as input three variables, and returns the largest of the three. 
Do this without using the Python max() function! 
_*Note all three input numbers will always be different, no need to account for a tie._

Example input and expected output:

input = your_function(1, 5, 10)

expected output:  10

In [51]:
# Solve Problem here:

def your_function(a, b, c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [57]:
# Test to see if your function works properly.
your_function(99, 5, 2)

99