# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [43]:
from datetime import datetime

current= datetime.now()
print(current)

2023-08-08 13:35:22.162299

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [44]:
import math 

def area_of_circle(radius):
    circle=math.pi*(radius**2)
    return(circle)

area_of_circle(1)

3.141592653589793

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [45]:
def unique(values):
    unique=list(set(values))
    if values == unique:
        return True
    else:
        return False
unique([2,4,5,7,9])

True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, 'â€”': 1}`

In [13]:
path_to_file = 'data/lil-wayne.txt'
file_handle = open(file=path_to_file)
data = file_handle.readlines()
file_handle.close()

for i in data:
    upper=data.upper()
for i in upper:
    count = len(upper)
print(upper, count)

AttributeError: 'list' object has no attribute 'upper'

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [46]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth_number=list1[3]
list1.remove(list1[3])
add_number=fourth_number*list1[-1]
list1.append(add_number)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [47]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list=[]

for i in original_list:
    if i%3 == 0:
        new_list.append(i)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [48]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [49]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list=[]
for i in original_list:
    new_list.append(i*i)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [50]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
    list2.reverse()
    print(list1[i],list2[i])

10 400
20 200
30 200
40 400

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [51]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

new_list = []
for i in list_of_strings:
    if i != '':
        new_list.append(i)
print(new_list)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [52]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if

SyntaxError: invalid syntax (225923673.py, line 3)

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [15]:
import pandas as pd
import os
import os
filename = os.path.join(os.getcwd(), "data","titanic.csv")
df=pd.read_csv(filename)

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [23]:
mean_age=df['age'].mean()
print(mean_age)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [38]:
oldest=df['age'].max()
youngest=df['age'].min()

print("Oldest:",oldest,"Youngest:",youngest)

Oldest: 80.0 Youngest: 0.42

## How many people embarked from station 'S'?

In [37]:
df.head()
total=df['embarked'].count()
count=0
for i in df['embarked']:
    if i=='S':
        count+=1
print(count,"out of",total)

644 out of 889